/*ESTILO GERAL */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box ;
 
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body{
    background-color: #000000;
    height: 100vh;
}
.interface{
    max-width: 1280px;
    margin: 0 auto;

}
.flex{
    display: flex;
}
.btn-contato button{
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 500;
    background-color:#3c096c;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    transition: .2s;
}
/*ESTILO DO CABEÇALHO*/
.logo{
    text-decoration: none;
    display: inline-block;
   transition: .2s;
}
.logo:hover{
    transform: scale(1.20);

    
}

HEADER{
    padding: 40px 4%;
}
header > .interface{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header a{
color: rgb(139, 137, 137);
text-decoration: none;
display: inline-block;
transition: .2s;
}
header a:hover{
    color: #5a10a0;
    transform: scale(1.20);
}

header nav ul{
    list-style-type: none;
}
header nav ul li{
    display: inline-block;
    padding: 0 40px;
}

 .btn-contato button:hover{
    box-shadow: 0px 0px 8px #5a10a0;
    transform: scale(1.20);
}
/*estilo das epecialidades*/
section.especialidades{
    padding: 50px 4%;

}
.especialidades .epecialidades-box{
    color:#ffffff;
    padding: 50px;
    margin-top: 45px;
    border-radius: 20px;
    width: 200px; /* Define a largura das caixas */
    margin: 10px; /* Define a margem entre as caixas */
    text-align: center;
    

}
.flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}
.flex:hover{
    opacity: 1;
    animation: fadeSlideOut 20s ease-out forwards infinite alternate;
}
.especialidades .epecialidades-box:hover{
    transform: scale(1.20);
    box-shadow: 0 0 8px #5a10a0;
}
.especialidades .epecialidades-box i{
    font-size:70px ;
    color:#5a10a0;
    flex-direction:column ;
    align-items: center;
}
section.especialidades .flex{
    gap: 60px;
}

h2.titulo{
    color: rgb(255, 255, 255);
    font-size: 38px;
    text-align: center;
    
}
h2.titulo span{
    color: #5a10a0;
}
@keyframes fadeSlideOut {
    0% {
      opacity: 1;
      transform: translateX(0);
    }
    100% {
      opacity: 0;
      transform: translateX(100%);
    }
  }
  /*rodapé*/
footer{
    padding: 40px 4%;
    box-shadow: 0 0 40px 10px #5a10a0;
}
footer .flex{
    justify-content: space-between;
}
.btn-social button{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    background-color: #5a10a0;
    font-size: 25px;
    cursor: pointer;
    margin: 0 8px;
    transition:.2s ;
}
footer .line-footer{
    padding: 5px 0;
    }
.borda{
    border-top: 2px solid #5a10a0;
}
footer .line-footer p i{
    color: #5a10a0;
    font-size: 22px;
}
footer .line-footer p a{
    color:rgb(139, 137, 137);
}



  